/* || CSS Variables */
:root {
--nav-bg-color: rgb(140, 179, 86);
--text-color: white;
--cta-color: rgb(247, 177, 0);
}

/* || TYPOGRAPHY */
/* Sets the default sizing of header and paragraph tags */
@font-face {
    font-family: 'assistant';
    src: url(../font/assistant/Assistant-Regular.otf);
}
* {
     font-family: assistant;
}
h1 {
    font-size: 1.7em;
}
h2 {
    font-size: 1em;
}
h3 {
    font-size: 1.3em;
}
p {
    font-size: 1em;
}

/* || SITEWIDE */
header {
    background-color: var(--nav-bg-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
li {
    list-style: none;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
button {
    border-radius: 5px;
    height: 40px;
    width: auto;
    background-color: var(--cta-color);
    color: rgb(53, 53, 53);
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
button:hover {
    box-shadow: 1px 1px 1px 1px rgba(72, 72, 72, 0.365);
}
.navbar {
    min-height: 60px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
}
.nav-menu {
    position: fixed;
    left: -100%;
    top: 60px;
    z-index: 1;
    gap: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--nav-bg-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    border-radius: 0 0 10px 10px;
}
.nav-menu.active {
    left: 0px;
}
.nav-branding {
    font-size: 1.1rem;
} 
.nav-item {
    margin: 13px 0px;
}
.nav-link {
    transition: 0.3s ease;
}
.nav-link:hover {
    color: var(--cta-color);
}
.hamburger {
    display: block;   
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color);
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* || PAGE SPECIFIC */
.hero-image {
    background-image: linear-gradient(rgba(135, 152, 76, 0.05), rgba(0, 0, 0, 0)), url("../images/hero-compressed-mobile.jpeg");
    width: 100%;
    height: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-content {
    position: relative;
    display: flex;
    width: 40%;
    left: 55%;
    top: 35%;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.1);
}
.hero-title {
    display: block;
    color: rgb(53, 53, 53);
}
.hero-subtitle {
    display: block;
    margin: 20px 0;
    color: rgb(72, 72, 72);
}
.hero-button {
    margin: 10px 0;
}
.article-bg {
    height: 120px;
    background-color: var(--nav-bg-color);
}
.article-header {
    font-size: 1.25em;
    text-align: left;
    padding: 24px 0 0 24px;
    color: var(--text-color);
}

/* || MEDIA QUERIES */

/* CSS for tablet-sized screens */
@media screen and (min-width: 481px) {
    .navbar {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 24px;
    }
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }
    .nav-branding {
        font-size: 1em;
    }
    .nav-link {
        transition: 0.7s ease;
    }
    nav-link:hover {
        color: var(--cta-color);
    }
    .hamburger {
        display: none;
        cursor: pointer;
    }
}